<!-- begin footer-widgets -->
<div class="footer-widgets">
  <div class="container">
    <div class="row">
      {% include footer-widgets/widget-info.html %}
      {% include footer-widgets/widget-recent-posts.html %}
      {% include footer-widgets/widget-subscribe.html %}
    </div>
  </div>
</div>
<!-- end footer-widgets -->

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>.</div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->