<!-- begin hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col {% if site.slider == true %}col-5 col-t-12{% else %}col-12 single-author{% endif %}">
        <div class="author">
          <div class="author__inner">
            <div class="author__content">
              <p class="author__job">{{site.author.job}}</p>
            </div>
            <div class="author__contact">
              {% include social-links.html %}
            </div>
          </div>
        </div>
      </div>
      {% if site.slider %}
      <div class="col col-6 col-t-12 push-1 push-t-0">
        {% include slider.html %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- begin hero -->