{% if site.mailchimp %}
<div class="col col-8">
  <div class="widget widget-subscribe">
    <div class="widget__head">
      <h4 class="widget__title">Newsletter</h4>
    </div>
    {% if site.mailchimp-text %}
    <p class="subscribe-subtitle">{{site.mailchimp-text}}</p>
    {% endif %}
    <form class="subscribe-form validate"
      action="{% if site.mailchimp-identifier %}//{{site.mailchimp-identifier}}{% else %}#{% endif %}" method="POST"
      id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
      <div class="subscribe-group">
        <div class="subscribe-group-top">
          <label class="screen-reader-text" for="mce-EMAIL">Email address <span class="asterisk">*</span></label>
          <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="Email Address*">
        </div>
        <div class="subscribe-group-top">
			<label class="screen-reader-text" for="mce-NAME">Name</label>
			<input class="subscribe-email" type="text" name="NAME" placeholder="Name" id="mce-NAME">
		</div>
		<div style="display:None">
		    <ul>
    		<li><input type="checkbox" value="1" name="group[378690][1]" id="mce-group[378690]-378690-0" checked><label for="mce-group[378690]-378690-0">English</label></li>
			<li><input type="checkbox" value="2" name="group[378690][2]" id="mce-group[378690]-378690-1"><label for="mce-group[378690]-378690-1">Mongolian</label></li>
			</ul>
		</div>
		<div>
			<button class="subscribe-button button button--primary" id="membedded-subscribe" type="submit"
				name="subscribe">Subscribe</button>
		</div>
      </div>
    </form>
  </div>
</div>
{% endif %}