/* Pagination */
.load-more {
  margin: 0 auto;
}

.load-more-section {
  margin: 30px auto;
  text-align: center;
  @media only screen and (max-width: $mobile) {
    margin: 20px auto;
  }
}

.load-more-posts {
  padding: 20px 40px;
  border: 1px solid $gray-lighter;
  color: $dark;
  background-color: $gray-lightest;
  &:hover {
    background-color: darken($gray-lightest, 5%);
  }
}