// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Transition
$global-transition: all .3s;


// *****************
// Color Variables
// *****************
$brand-color: #02C4EC;
$dark: #12111b;
$blue-dark: #16151f;
$gray: #6b6a79;
$gray-light: #f8f8f8;
$gray-lighter: #eee;
$gray-lightest: #f1f1f1;
$white: #fff;

// Body Color
$text-color: $dark;

// Background Colors
$background-color: $white;


// *****************
// Typography
// *****************
$base-font-size: 22px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: 500;
$base-font-family: 'Darker Grotesque', sans-serif;
$base-line-height: 1.4;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Darker Grotesque', sans-serif; 
$heading-color: $text-color;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.4em;