---
layout: default
---
{% assign slider_tag = page.tag %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="archive-box">
        <div class="tag-slider">
          <div class="tag-slider__box">
            {% for post in site.tags[slider_tag] %}
            <div class="tag-slider__item" style="background-image: url({{site.baseurl}}{{post.image}});"></div>
            {% endfor %}
          </div>
        </div>
        <div class="archive-text">
          <span class="archive-meta">All posts tagged</span>
          <h1 class="archive-title">{{ page.tag }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner">
        <div class="contaniner__inner-box">
          <div class="row grid">
            {% for post in page.posts %}
              {% include article-content.html %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>